.navigation {
  display: flex;
}

.navigation .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  list-style: none;
}

.navigation .list .item {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.navigation .list .item .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.navigation .list .item.active {
  background-color: #ffd500;
}

.navigation .list .item.active .link {
  color: #0a0a0a;
}

.navigation .list .item .link .houseIcon,
.navigation .list .item .link .searchIcon,
.navigation .list .item .link .bookOpenIcon,
.navigation .list .item .link .graduationCapIcon {
  width: 20px;
  height: 20px;
  stroke-width: 2.5;
  flex-shrink: 0;
}
