.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header .navigation .logo {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.header .navigation .logo .registered {
  font-size: 1rem;
  vertical-align: text-bottom;
  font-weight: 800;
}

.header .navigation .navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header .navigation .navButtons button {
  background: none;
  border: none;
  cursor: pointer;
}

.header .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.header .profile {
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.header .profile .profileName {
  font-size: 1rem;
  font-weight: 500;
}

.header .profile:focus .profileName span,
.header .profile:hover .profileName span {
  text-decoration: underline;
}
